/* place the slider over the map. */
#map {
    position: relative;
}
#search {
    position: absolute;
    top: 7rem;
    left: 1rem;
    height: 22px;
    width: 22px;
    z-index: 2;
    background: rgba(51, 51, 51, 0.5) url('../images/search.png') no-repeat top left;
}
#search-outer {
    position: absolute;
    left: 22px;
    display: none;
    background: rgb(51, 51, 51);
    padding: 10px 20px;
    color: #fff;
}
#search-input {
	padding-left: 6px;
	padding-right: 6px;
    color: #000;
}
.ui-autocomplete-category {
    z-index: 2;
}
#slider-id {
    position: absolute;
    top: 11rem;
    left: 1.5rem;
    z-index: 2;
}

#map-search-results {
	position: absolute;
	display: none;
	width: 240px;
	height: 300px;
	list-style-type: none;
	padding: 0;
	overflow: scroll;
	background: white;
	border: 1px solid #f5f5f5;
	color: black;
}

#map-search-results.show {
	display: inline-block;
}

#map-search-results li {
	padding: 12px;
	border-bottom: 1px solid #f5f5f5;
}

#map-search-results li:hover {
	background: #f5f5f5;
	cursor: pointer;
}