.fade-in {
	opacity: 0;
	-webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
	  -moz-animation: fadein 0.5s; /* Firefox < 16 */
	   -ms-animation: fadein 0.5s; /* Internet Explorer */
		-o-animation: fadein 0.5s; /* Opera < 12.1 */
		  animation: fadein 0.5s;

	-webkit-animation-fill-mode:forwards;
	 -moz-animation-fill-mode:forwards;
	  -ms-animation-fill-mode:forwards;
	   -o-animation-fill-mode:forwards;
		  animation-fill-mode:forwards;

	-webkit-animation-delay: 0.3s;
	 -moz-animation-delay: 0.3s;
	  -ms-animation-delay: 0.3s;
	   -o-animation-delay: 0.3s;
		  animation-delay: 0.3s;
}

.fade-in-slow {
	opacity: 0;
	-webkit-animation: fadein 0.7s; /* Safari, Chrome and Opera > 12.1 */
	  -moz-animation: fadein 0.7s; /* Firefox < 16 */
	   -ms-animation: fadein 0.7s; /* Internet Explorer */
		-o-animation: fadein 0.7s; /* Opera < 12.1 */
		  animation: fadein 0.7s;

	-webkit-animation-fill-mode:forwards;
	 -moz-animation-fill-mode:forwards;
	  -ms-animation-fill-mode:forwards;
	   -o-animation-fill-mode:forwards;
		  animation-fill-mode:forwards;

	-webkit-animation-delay: 0.8s;
	 -moz-animation-delay: 0.8s;
	  -ms-animation-delay: 0.8s;
	   -o-animation-delay: 0.8s;
		  animation-delay: 0.8s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1;}
}

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}
