.breadcrumb {
	padding: 0;
	background: white;
	margin-bottom: 90px;
	font-weight: 300;
	
	a {
		color: $gray;
	}
	
	@include media-breakpoint-down(sm) {
		display:none;
	}
}

.breadcrumb > li + li:before {
  padding-left: 8px;
  color: $gray;
  content: "/\00a0";
}

.breadcrumb > .active {
	color: $primary;
}
