.card {
	border: none;
	.card-header {
		background: $primary;
		border: none;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		.h4 {
			color: white;
		}
		
		a {
			color: $white;
		}
		
		&.dark {
			background: $gray-dark;
		}
	}
	.card-body {
		border: none;
		background: $gray-lighter;
		padding: 0;
		
		.list-unstyled {
			margin: 0;
			li {
				padding: 18px;
				
				&:nth-child(even) {
					background: $gray-light-bg;
				}
				
				&.dark {
					background: $gray-dark;					
				}
			}
			
			p {
				font-size: 1rem;
				margin-bottom: 0;
			}
		}
		
		.body-content {
			padding: 18px;
			
			p:last-of-type {
				margin-bottom: 0 !important;
			}
		}
	}
	
	&.max-height {
		.card-body {
			max-height: 420px;
			overflow-y: scroll;
			scrollbar-width: thin;
			-webkit-overflow-scrolling: touch;
		}
	}
}

.preview-card {
	border: none;
	margin-bottom: 30px;
	
	.card-header {
		border-radius: 24px;
		background: none;
		&.img-header {
			position: relative;
			padding: 0;
			height: 260px;
			overflow: hidden;
			
			img {
				object-fit: cover;
				min-height: 100%;
				min-width: 100%;
				height: 260px;
				width: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			
			@include media-breakpoint-up(xl) {
				#featured & {
					height: 324px;
					img {
						height: 324px;
					}
				}
			}
			
			.footer {
				position: absolute;
				bottom:0 !important;
				width: 100%;
			}
		}
	}
	
	.card-body {
		position: relative;
		background: none;
		font-size: 1em;
		margin: 24px 0;
		padding: 0;
		p {
			font-weight: 300;
		}
		
		.actions {
			position: absolute;
			top: -54px;
			right: 18px;
		}
	}
	
	.card-text {
		margin-bottom: 24px !important;
	}
	
	@include media-breakpoint-up(sm) {
		margin-bottom: 45px;
	}
	
	&.popover-card {
		margin: 0;
		.img-header {
			height: 190px;
		}
	}
}

.trip-card {
	.card-header {
		.handle {
			display: none;
		}
	}
	
	.h3 {
		.counter {
			position: relative;
			display: inline-block;
			width: 28px;
			height: 28px;
			background: $primary;
			color: white;
			border-radius: 50%;
			font-size: 1.1rem;
			top: 3px;
			
			.count {
				@include centerer;
			}
		}
	}
	
	@include media-breakpoint-up(lg) {
		.collapse {
			display: block;
    		height: auto !important;
    		visibility: visible;
		}
		.collapsing{
			position: relative;
			height: unset !important;
			overflow: hidden;
		}
		
		position: sticky;
		top: 120px;
	}
	
	@include media-breakpoint-down(md) {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		margin-bottom: 0;
		opacity: 0.95;
		z-index: $zindex-fixed;
		
		.card-header {
			padding: 12px;
			&:hover {
				cursor: pointer;
			}
			.handle {
				position: absolute;
				display: block;
				left: 24px;
				margin: 0;
				transition: transform 150ms ease;
				transform: rotate(90deg);
				width: 16px;
			}
	
			&.collapsed {
				.handle {
					transform: rotate(-90deg);
				}
			}
		}
		
		.card-body {
			max-height: 70vh;
			overflow-y: scroll;
			scrollbar-width: thin;
			-webkit-overflow-scrolling: touch;
		}
	}
}
