.card {
	border: none;
	.card-header {
		background: $primary;
		border: none;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		.h4 {
			color: white;
		}
	}
	.card-body {
		border: none;
		background: $gray-lighter;
		padding: 0;
		
		.trip-list {
			margin: 0;
			li {
				padding: 18px;
				
				&:nth-child(even) {
					background: $gray-light-bg;
				}
			}
			
			p {
				font-size: 1rem;
				margin-bottom: 0;
			}
		}
	}
}

