.input-group {
	position: relative;
	
	.form-control,
	.custom-select {
		border:none;
		border: 1px solid $gray;
		padding: 12px 18px;
		height: auto;
		background-color: transparent;
		color: $body-color;
		&:focus {
		  box-shadow: none;
		}	
	}
}

.help-block {
	color: $alert-color;
}