@mixin backgrounds {
	background: $primary;
	
	&.green,
	.green & {
		background: $primary-green;
	}
	
	&.blue,
	.blue & {
		background: $primary-blue;
	}
	
	&.yellow,
	.yellow & {
		background: $primary-yellow;
	}
	
	&.gray,
	.gray & {
		background: $gray-light;
	}
}

@mixin backgrounds-hover {
	background: darken($primary, 5%);
	
	&.green,
	.green & {
		background: darken($primary-green, 5%);
	}
	
	&.blue,
	.blue & {
		background: darken($primary-blue, 5%);
	}
	
	&.yellow,
	.yellow & {
		background: darken($primary-yellow, 5%);
	}
	
	&.gray,
	.gray & {
		background: darken($gray-light, 5%);
	}
}

@mixin backgroundsSecondary {
	color: $body-color;
	background: $secondary;
	
	&.green,
	.green & {
		background: $secondary-green;
	}
	
	&.blue,
	.blue & {
		background: $secondary-blue;
	}
	
	&.yellow,
	.yellow & {
		background: $secondary-yellow;
	}	
}

@mixin labelBackgrounds {
	background: white;
	
	&.green {
		background: $primary-green;
	}
	
	&.blue {
		background: $primary-blue;
	}
	
	&.yellow {
		background: $primary-yellow;
	}
	
	&.gray {
		background: $gray-light;
	}
	
	&.texture,
	.texture & {
		background-image: url('/img/layout/texture.png');
   		background-repeat: repeat;
	}
}

@mixin colors {
	color: $primary;
	
	&.green,
	.green & {
		color: $primary-green;
	}
	
	&.blue,
	.blue & {
		color: $primary-blue;
	}
	
	&.yellow,
	.yellow & {
		color: $primary-yellow;
	}	
}

@mixin linkColors {

	a:link,
	a:visited {
		color: $body-color;
	}
	
	a:hover,
	a:active {
		color: $primary;
	}
	
	&.green,
	.green & {
		a:hover,
		a:active {
			color: $primary-green;
		}
	}
	
	&.blue,
	.blue & {
		a:hover,
		a:active {
			color: $primary-blue;
		}
	}
	
	&.yellow,
	.yellow & {
		a:hover,
		a:active {
			color: $primary-yellow;
		}
	}
}

@mixin colorsSecondary {
	color: $secondary;
	
	&.green,
	.green & {
		color: $secondary-green;
	}
	
	&.blue,
	.blue & {
		color: $secondary-blue;
	}
	
	&.yellow,
	.yellow & {
		color: $secondary-yellow;
	}	
}

@mixin quoteBorder {
	border-left: 3px $primary solid;
	
	&.green,
	.green & {
		border-left: 3px $primary-green solid;
	}
	
	&.blue,
	.blue & {
		border-left: 3px $primary-blue solid;
	}
	
	&.yellow,
	.yellow & {
		border-left: 3px $primary-yellow solid;
	}
}

@mixin centerer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin centerer-horizontal {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

@mixin centerer-vertical {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
