@mixin backgrounds {
	background-color: $primary;
	
	&.edu,
	.edu & {
		background-color: $intangible;
	}
}

@mixin colors {
	color: $primary;
	
	&.edu,
	.edu & {
		color: $intangible;
	}
}

@mixin centerer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin centerer-horizontal {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

@mixin centerer-vertical {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
