.carousel-control-prev-icon,
.carousel-control-next-icon {
	height: 90%;
	background-image: url('/img/layout/chevron-l.svg');
}
.carousel-control-next-icon {
	background-image: url('/img/layout/chevron-r.svg');
}

.jumbotron {
	position: relative;
	padding:0;
  	min-height: 460px;
  	//overflow: hidden;
	margin-bottom: 60px;
	
	@include media-breakpoint-up(sm) {
		margin-bottom: 90px;
	}
	
  	.img-bg {
  		position: relative;
		background-position-x: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 460px;
  	}
  	
	.carousel-inner {
		position: absolute;
		min-height: 460px;
		.carousel-control-prev,
		.carousel-control-next {
			position: absolute !important;
			display: inline-block;
			opacity: 1;
						
  			.carousel-control-prev-icon,
			.carousel-control-next-icon {
				margin-bottom: 300px;
			}
		}
		
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			height: 320px;
			width: 100%;
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.7) 100%);
		}
		
		.carousel-item {
			&:hover {
				cursor: zoom-in;
			}
		}
		
		.carousel-caption {
			text-align: left;
			bottom: 60px;
			padding: 0;
			left: 0 !important;
			right: 0 !important;
			
			.copyright {
				opacity: 0.4;
			}
			
			@include media-breakpoint-up(sm) {
				bottom: 68px;
			}
			
			@include media-breakpoint-up(md) {
				bottom: 96px;
				.caption {
					width: 600px;
				}
			}
		}
	}
	
	.footer {
		position: absolute;
		bottom:0 !important;
		width: 100%;
		
		.footer-content {
			position: absolute;
			bottom: 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 0);
		}
		
		
		.transition {
			background-image: url("../img/layout/swipe.png");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			height: 50px;
			@include media-breakpoint-up(sm) {
				height: 60px;
			}
			@include media-breakpoint-up(md) {
				height: 90px;
			}
			@include media-breakpoint-up(lg) {
				height: 100px;
			}
			@include media-breakpoint-up(xl) {
				height: 120px;
			}
		}
	}
	
	.action-container {
		position: relative;
		top: 394px;
		text-align: right;
		z-index: $zindex-fixed;
		.action {
			display: inline-block;
		}
	}
	
	@include media-breakpoint-up(sm) {
		min-height: 463px;
		.img-bg,
		.carousel-inner {
			min-height: 463px;
		}
	}
	
	@include media-breakpoint-up(md) {
		min-height: 573px;
		.img-bg,
		.carousel-inner {
			min-height: 573px;
		}
		.action-container {
			top: 480px;
		}
	}
	
	@include media-breakpoint-up(lg) {
		min-height: 703px;
		.img-bg,
		.carousel-inner {
			min-height: 703px;
		}
		.action-container {
			text-align: center;
			top: 596px;
		}
	}
	
	@include media-breakpoint-up(xl) {
		.action-container {
			top: 580px;
		}
	}
	
}
