.map-view,
.map-full {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
}

.ol-control {
	padding: 0;
	top: 108px;
	left: 24px;
	background: none;
	&:hover {
		background: none;
	}
	button {
    	background-color: $primary !important;
    	width: 36px;
    	height: 36px;
    	font-size: 1.6rem;
    	opacity: 0.85;
    	transition: background 0.17s;
    	
		&:hover {
			opacity: 1;
		}
	}
	
	.edu & {
		button {
			background-color: $intangible !important;
		}
	}
	
	@include media-breakpoint-down(md) {
		display: none;
	}
}
