.map-full {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
}

.map-controls {
	position: fixed;
	right: 0;
	bottom: 0;
	margin: rem-calc(0 8 78 0);
	
	div {
		padding-bottom: rem-calc(8);
	}
	.btn {
		&:hover {
			//background: darken($gray-lighter, 3%);
			//color: $gray-darker;
			box-shadow: none;
		}
	}
	.search {
		display: none;
	}
	
	@include media-breakpoint-down(md) {
		margin-bottom: rem-calc(90);
		.zoom {
		  display: none;
		}
		.search {
		  display: inline-block;
		}
		/*
		.btn {
		  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
		}
		*/
	}
	
	.glyphicon {
		font-size: 1.3em;
	}
}

.map-settings {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	height: 100%;
	width: 300px;
	margin-right: -300px;
	background: $gray-light-bg;
	transition: margin 0.25s ease-out;
	padding: 120px 30px 24px;
	
	.sidebar-handle {
		position: absolute;
		bottom: 24px;
		left: 0;
		margin-left: -42px;
		width: 42px;
		height: 42px;
		background: $gray-light-bg;
		color: $link-color;
		
		&:hover {
			cursor: pointer;
		}
		
		.fa {
			font-size: 1.2rem;
			@include centerer;
		}
	}
	
	&.in {
		margin-right: 0;
		.sidebar-handle {
			transform: rotate(180deg);
		}
	}
	
	@include media-breakpoint-down(md) {
		padding-top: 90px;
	}
}

#layer-slider {
  padding: 0;

  .noUi-handle, .noUi-base, .noUi-origin, .ui-slider-handle {
    padding: 0;
  }

  .ui-slider-inner-label {
    position: absolute;
    top: rem-calc(30);
    text-shadow: none;
    padding: 0;
    font-size: $font-size-base;
  }
}