.modal-backdrop {
	background-color: $black;
	opacity: 0.9 !important;
}

.image-modal {
	.modal-body {
		padding: 8px;
		.caption {
			padding: 10px 3px 8px;
		}
		
		@include media-breakpoint-up(lg) {
			padding: 14px;
			
			.caption {
				padding-top: 14px;
				padding-bottom: 6px;
			}
		}
	}
	
	.carousel.pointer-event {
		touch-action: pan-y pinch-zoom;
	}
}
