.navbar {
	.navbar-brand {
		@include centerer-horizontal;
		width: 190px;
		.logo {
			width: 100%;
		}
	}
	
	.navbar-toggler {
		border: none;
		padding-left: 0;
	}
	
	.icon {
		width: 30px;
		margin-right: 18px;
	}
	
	a {
		text-decoration: none;
		color: $gray-dark !important;
	}
	
	.dropdown-item {
		&.active {
			color: white !important;	
		}
	}
	
	.fa-search {
		font-size: 1rem;
	}
	
	@include media-breakpoint-up(lg) {
		padding-bottom: 0;
	
		.navbar-brand {
			@include centerer;
			width: 230px;
		}
	
		.navbar-nav-left {
			padding-top: 0;
			.nav-item {
				margin-right: 24px;
			}
		}
	
		.navbar-nav-right {
			.nav-item {
				margin-left: 24px;
			}
		}
	
		.nav-item {
			&.lang-dropdown {
				padding-top: 40px;
				vertical-align: bottom;
			}
		
			&.active {
				border-bottom: 4px solid $primary;
			}
		}
		
		.icon {
			display: block;
			height: 40px;
			margin: 0 auto;
			text-align: center;
		}
		
		.lang-mobile-dropdown {
			display: none;
		}
		
		.search-dropdown-menu {
			width: 390px;
			padding: 18px;
		}
	
	}
	
	@include media-breakpoint-down(md) {
		
		padding-left: 24px;
		padding-right: 24px;
		
		a {
			font-size: 1.1875rem;
		}
	
		.lang-dropdown {
			display: none;
		}
		
		.navbar-nav-left {
			padding-top: 54px;
		}
		
		.dropdown-menu:not(.language-mobile-dropdown-menu){
			background: none;
			border: none;
			.dropdown-item {
				padding: 0;
				color: $gray !important;
				&:hover {
					background: none;
				}
				&.active {
					background: none;
					color: $gray-dark;
				}
			}
		}
		
		.lang-mobile-dropdown {
			position: absolute;
			top: 0px;
			right: 0px;
			margin-top: 60px;
			padding-right: 12px;
		}
		
		.language-mobile-dropdown-menu {
			margin-right: 24px;
		}
	}
}
