.navbar {
	z-index: $zindex-fixed;
	background: white !important;
	opacity: 0.95;
	.navbar-brand {
		@include centerer-horizontal;
		width: 190px;
		.logo {
			width: 100%;
		}
	}
	
	.navbar-toggler {
		border: none;
		padding-left: 0;
	}
	
	.icon {
		width: 30px;
		margin-right: 18px;
	}
	
	a {
		text-decoration: none;
		color: $gray-dark !important;
	}
	
	.dropdown-menu {
		a {
			white-space: normal;
		}
	}
	
	.heritage-dropdown {
		width: 420px;
	}
	
	.dropdown-item {
		font-weight: 300;
		&.active {
			color: white !important;	
		}
	}
	
	.fa-search {
		font-size: 1rem;
	}
	
	.spacer {
		display:none;
	}
	
	@include media-breakpoint-up(lg) {
		padding-bottom: 0;
		height: 90px;
	
		.navbar-brand {
			@include centerer;
			width: 230px;
		}
	
		.navbar-nav-left {
			padding-top: 0;
			.nav-item {
				margin-right: 24px;
			}
		}
	
		.navbar-nav-right {
			.nav-item {
				margin-left: 24px;
			}
		}
	
		.nav-item {
			&.lang-dropdown {
				padding-top: 40px;
				vertical-align: bottom;
			}
		
			&.active {
				border-bottom: 4px solid $primary;
			}
		}
		
		.icon {
			display: block;
			height: 40px;
			margin: 0 auto;
			text-align: center;
		}
		
		.lang-mobile-dropdown {
			display: none;
		}
		
		.search-dropdown-menu {
			width: 390px;
			padding: 18px;
		}
	}
	
	@include media-breakpoint-up(xl) {
		.navbar-brand {
			width: 260px;
		}
	}
	
	@include media-breakpoint-down(md) {
		opacity: 0.98;
		padding-left: 24px;
		padding-right: 24px;
		max-height: 100vh;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		
		.spacer {
			display: block;
		}
		
		a {
			font-size: 1.1875rem;
			font-weight: 300;
		}
		
		.heritage-dropdown {
			width: auto;
			max-width: 420px;
		}

		.lang-dropdown {
			display: none;
		}
		
		.navbar-nav-left {
			padding-top: 54px;
		}
		
		.dropdown-menu {
			a {
				font-size: 1rem !important;
			}
		}
		
		.dropdown-menu:not(.language-mobile-dropdown-menu) {
			background: none;
			border: none;
			.dropdown-item {
				padding: 3px 0;
				color: $gray !important;
				&:hover {
					background: none;
				}
				&.active {
					background: none;
					color: $gray-dark;
				}
			}
		}
		
		.lang-mobile-dropdown {
			right: -12px;
			.nav-link {
				font-size: 1rem;
			}
		}
	}
}
