.popover {
	padding: 0 !important;
	border-radius: 36px;
	width: $popover-max-width;
	
	.h4 {
		a {
			color: $body-color;
			&:hover {
				color: $link-color;
			}
		}
		
	}
}

.popover-body {
	padding: 12px;
}
