h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	line-height: 1.1;
	font-weight: 300;
	color: $primary;
	a:hover,
	a:active {
		text-decoration: none;
	}
	
	.ugc & {
		margin-bottom: 12px;
	}
}

h1, .h1 {
	font-size: 3rem;
    margin: 0;
	@include media-breakpoint-up(xl) {
		font-size: 3.8rem;
	}
}

h2, .h2 {
	font-size: 2rem;
	line-height: 1.2;
	margin-bottom: 0;
	@include media-breakpoint-up(md) {
		font-size: 2rem;
	}
}

h3, .h3 {
	line-height: 1.3;
}

h5, .h5 {
	margin: 0;
	font-size: 0.875rem;
	text-transform: uppercase;
}

p {
	hyphens: auto;
	line-height: 1.6;
	letter-spacing: 0.02em;
	font-weight: normal;
	font-size: 1.0625rem;
	
	&.lead,
	.lead & {
		font-size: 1.3125rem;
		font-family: BRNebula-light, sans-serif;
	}
	
	@include media-breakpoint-up(md) {
		font-size: 1.1875rem;
		
		&.lead,
		.lead & {
			font-size: 1.375em;
		}
	}
	
	.small & {
		font-size: 1rem;
	}
}

a:link,
a:visited {
	color: $link-color;
	text-decoration: none;
}

a:hover,
a:active {
	color: $primary;
	text-decoration: underline;
	transition: 0.2s;
}

dl,
.carousel-caption,
.carousel-caption p,
.small {
	font-size: 0.75rem;
	@include media-breakpoint-up(md) {
		font-size: 0.875rem;
	}
}

.strong,
strong,
b,
.excerpt p {
	font-weight: 700;
}

.thin {
	font-weight: 300;
}

label,
.label {
	color: $gray;
	font-weight: 300;
}